@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: var(--header-background);
}

#header-component {
  display: flex;
  align-items: center;
  height: 12.5vh;
  justify-content: space-between;
  margin: auto;
}

.wrapper-class {
  width: 80%;
  margin: auto;
}

.left-header img {
  height: 60px;
}

/* button-animations */
:root{
    --button-shadow: #636363;
    --button-hover: #5C5C5C;
    --section-background: #151515;
    --header-background: #090909;
}
button{
    cursor: pointer;
    padding: 0.6rem 0.9rem;
    border: solid 3px #000;
    border-radius: 0.5rem;
    background: #FFF;
    font-family: 'Ubuntu';
    font-weight: 700;
    /* font-size: medium; */
    box-shadow: 0.2rem 0.25rem var(--button-shadow);
    margin-left: 1.25rem;
    transition: all 0.175s;
}

button:hover{
    /* border: solid 3px #FFF; */
    /* color: #FFF; */
    background-color: #EAEAEA;
    box-shadow: 0.2rem 0.25rem var(--button-hover);

}

button:active{
    box-shadow: 0.1rem 0.15rem var(--button-hover);
    transform: translate3d(0.1rem, 0.1rem, 0)
}

section{
    background-color: var(--section-background);
    padding: 5rem 0;
}

#section-component{
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.container{
    background-color: #FFF;
    border-radius: 3rem;
    box-shadow: 0;
    padding: 5rem;
    font-family: 'Ubuntu';
    max-width: 45vw;
    margin: auto;
    cursor: pointer;
    transition: all 0.2s linear;
}

.container:hover{
    /* box-shadow: #EAEAEA 0px 2px 8px 0px; */
    /* box-shadow: #EAEAEA 0px 0px 16px; */
    transform: translate3d(0.25rem, 0.25rem, 0);
    background-color: #EAEAEA;
}

.container h1{
    font-size: 4rem;
    font-weight: 700;
}

.container p{
    font-size: 1.5rem;
    font-weight: 400;
}
